
<div class="row">
	<div class="main-text span4 offset4">
		<p>
		I ask a man at the bar if his name is “Eric”. He looks at me and says “No, way off.” I doubt him for a second, suck my teeth and deal with flat embarrassment.
		</p>
		<p>
		The music from the taxi drive over is a thick memory and I half-drunkenly nod my head to the rhythm of it as I walk down the street. Why am I walking, I ask outloud. My vision is pieced, etched by street lights and architecture and the young people I want to talk to, more non-Erics.
		</p>
		<p>
		At some point in my walk back to the bar, cigarettes no longer extinguished, I decide that if I write a novel it will begin with the line “She did not look up but she knew who it was.” The next day I'll change my mind.
		</p>
		<p>
		She is standing against a wall outside the bar watching me walk towards her. “Is this how you do it?” she asks. I lean forward and kiss her on the mouth in the middle of the blue night.
		</p>
		<p class="reference">
			Excerpt from "San Francisco"<br/>
			featured in the zine <u>Love, Life, Whatever</u> 1.1
		</p>
		<p><a href="mailto:jnthnmgdlno@gmail.com">contact</a></p>
	</div>	
</div>
